appSchool/appSchool/.vs/appSchool/v15/.suo
appSchool/appSchool/.vs/appSchool/v15/Server/sqlite3/db.lock
appSchool/appSchool/.vs/appSchool/v15/Server/sqlite3/storage.ide
appSchool/appSchool/.vs/appSchool/v15/Server/sqlite3/storage.ide-shm
appSchool/appSchool/.vs/appSchool/v15/Server/sqlite3/storage.ide-wal
appSchool/appSchool/.vs/config/applicationhost.config
